<%- include("partials/header"); -%>

<h1>About</h1>

<div class="max-width">
<p>➢ This is Sagar Biswas.</p>

<p>➢ I’m Pursuing B.Tech in Computer Science and Engineering from J.K Institute of Applied Physics and Technology, University of Allahabad. I have completed my higher secondary and secondary education from Palla K.P.C HS School in West Bengal.</p>

<p>➢ Currently, I want to explore various fields of technologies like machine learning, web development, ethical hacking, android development, etc and also maintain a good CGPA in the mark sheet. In the future, I want to complete my master's in Data Science in a reputed institute. After that, I want to work for a multinational company as a software developer.</p>

<p>➢ As per my technical strength, I’m very good at competitive programming. I have a 4-star rating at HackerRank. Programming languages that I’ve learned are C, C++, Python, Javascript, and PHP. And also I’ve done Machine Learning, Cyber Security, and Web Development courses from Udemy in my own interest. I’ve working experience in both Linux and Windows environments. In class 12 I won first prize in my school IT project competition for making Li-Fi project that transfer data using the frequency of light. I’ve got a portfolio website called www.sagarbiswas.co. Also, I’m doing internship as a Full Stack Developer in a Start Up.</p>

<p>➢ From the behavioral point of view, I’m a very much friendly and kind person. I’m so helpful to my batchmates according to them. I’m a quick learner with self-confidence. Once I was CR(Class Representative) of my class. Also I was the secretary of Durga Puja Committee in our local Club in 2021. So I have a very strong experience of leadership and teamwork.</p>

<p>➢ My Hobbies are playing football and badminton. I love to learn new skills and knowledge every time and also I love to listen to music during rest.</p>

<h4>Thank you for showing interest about me.</h4>
</div>

<%- include("partials/footer"); -%>